@use '../../styles/mixins' as *;

.mainLayout {
  display: grid;
  grid-template-rows: 200px 1fr;
  min-height: 100vh;

  .main-content {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    padding: 48px 24px 0;
    width: 100%;
    max-width: 540px;
    justify-self: center;
  }

  @include media-query('tablet') {
    grid-template-rows: 300px 1fr;

    .main-content {
      padding: 70px 0 0;
    }
  }

  // @include media-query('desktop') {
  //   grid-template-columns: 1fr 540px 1fr;

  //   .main-content {
  //     padding: 0;
  //   }
  // }
}
