@use '../variables' as *;
@use '../mixins' as *;

@mixin dark-theme-root {
  :root.dark {
    --bg-color: #{$very-dark-blue};
    --text-color: #{$default-text-color};
    --bg-hero-image: url('/images/bg-mobile-dark.jpg');
    --color-theme: dark;
    --primary-card-bg: #{$very-dark-desaturated-blue};
    --default-checked-border: #{$very-dark-grayish-blue};
    --default-line-trough: hsl(235, 16%, 43%);

    @include media-query('desktop') {
      --bg-hero-image: url('/images/bg-desktop-dark.jpg');
    }
  }
}
