@use '../variables' as *;
@use '../mixins' as *;

@mixin light-theme-root {
  :root.light {
    --bg-color: #{$light-grayish-blue};
    --text-color: #{$default-text-color-light};
    --color-theme: light;
    --primary-card-bg: #{$primary-white};
    --default-checked-border: #{$very-light-grayish-blue};
    --default-line-trough: hsl(236, 9%, 61%);
  }
}
