@use 'sass:map';
@use './variables' as *;

$bps: (
  'mobile': $bp-mobile,
  'desktop': $bp-desktop,
  'desktop-lg': $bp-desktop-lg,
);

@mixin media-query($target) {
  @media screen and (min-width: #{map.get($bps, $target)}) {
    @content;
  }
}

%checked-todo {
  background-color: var(--primary-card-bg);
  border-radius: 100px;
  border: 1px solid var(--default-checked-border);
  height: 20px;
  width: 20px;
}
