@use './mixins' as *;
@use './themes' as *;
@use './variables' as *;

@include dark-theme-root;
@include light-theme-root;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color-scheme: var(--color-theme);
  color: var(--text-color);
  font-family: $default-font-family;
  font-weight: $default-font-weight-regular;
  min-height: 100vh;
}
