@use '../../styles/variables' as *;

.todo {
  background-color: var(--primary-card-bg);
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  column-gap: 12px;

  .title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.166667px;

    &.isChecked {
      text-decoration: line-through;
      color: var(--default-line-trough);
    }
  }

  .crossIcon {
    margin-left: auto;
    width: 12px;
    height: 12px;
  }
}
