.nav {
  align-items: center;
  color: var(--primary-white);
  display: flex;
  grid-column: 2 / -2;
  grid-row: 2 / span 1;
  justify-content: space-between;

  .headline {
    width: 109px;
  }

  .icon {
    fill: currentColor;
    width: 20px;
  }
  .headline,
  .icon {
    height: 20px;
  }
}
